In [2]:
import pandas as pd

data = pd.read_csv(r"C:\Users\CHA\Desktop\ass\retail_price.csv")
data

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.950000,39,161,2,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.900000
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.950000,39,161,2,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.950000
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.950000,39,161,2,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.950000
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.950000,39,161,2,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.950000
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.950000,39,161,2,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,bed5,bed_bath_table,01-05-2017,1,215.00,8.760000,215.000000,56,162,5,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,214.950000
672,bed5,bed_bath_table,01-06-2017,10,2090.00,21.322000,209.000000,56,162,5,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,215.000000
673,bed5,bed_bath_table,01-07-2017,59,12095.00,22.195932,205.000000,56,162,5,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,209.000000
674,bed5,bed_bath_table,01-08-2017,52,10375.00,19.412885,199.509804,56,162,5,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,205.000000
675,bed5,bed_bath_table,01-09-2017,32,5222.36,24.324687,163.398710,56,162,5,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,199.509804

In [5]:
data = data.dropna()
for col in data.columns:
    if pd.api.types.is_numeric_dtype(data[col]):
        data[col] = data[col].round(3)

In [6]:
data

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100,45.950,39,161,2,...,89.9,3.9,15.012,215.000,4.4,8.760,45.95,4.0,15.100,45.90
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933,45.950,39,161,2,...,89.9,3.9,14.769,209.000,4.4,21.322,45.95,4.0,12.933,45.95
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840,45.950,39,161,2,...,89.9,3.9,13.994,205.000,4.4,22.196,45.95,4.0,14.840,45.95
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.288,45.950,39,161,2,...,89.9,3.9,14.657,199.510,4.4,19.413,45.95,4.0,14.288,45.95
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100,45.950,39,161,2,...,89.9,3.9,18.777,163.399,4.4,24.325,45.95,4.0,15.100,45.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,bed5,bed_bath_table,01-05-2017,1,215.00,8.760,215.000,56,162,5,...,89.9,3.9,15.012,215.000,4.4,8.760,45.95,4.0,15.100,214.95
672,bed5,bed_bath_table,01-06-2017,10,2090.00,21.322,209.000,56,162,5,...,89.9,3.9,14.769,209.000,4.4,21.322,45.95,4.0,12.933,215.00
673,bed5,bed_bath_table,01-07-2017,59,12095.00,22.196,205.000,56,162,5,...,89.9,3.9,13.994,205.000,4.4,22.196,45.95,4.0,14.840,209.00
674,bed5,bed_bath_table,01-08-2017,52,10375.00,19.413,199.510,56,162,5,...,89.9,3.9,14.657,199.510,4.4,19.413,45.95,4.0,14.288,205.00
675,bed5,bed_bath_table,01-09-2017,32,5222.36,24.325,163.399,56,162,5,...,89.9,3.9,18.777,163.399,4.4,24.325,45.95,4.0,15.100,199.51

In [8]:
text_columns = data.select_dtypes(include=[object]).columns


for col in text_columns:
    value_counts = data[col].value_counts(normalize=True)
    value_counts *= 100
    value_counts = value_counts.round(2)
    print(f"{col}:")
    print(value_counts)
    print("-------------")

product_id:
health5       2.96
health7       2.96
bed2          2.81
garden1       2.66
health9       2.66
garden3       2.66
computers4    2.66
health8       2.51
watches1      2.51
garden9       2.51
garden2       2.51
garden7       2.37
garden10      2.37
garden6       2.37
bed1          2.37
computers1    2.22
cool1         2.22
watches3      2.22
watches2      2.22
garden5       2.07
garden4       2.07
garden8       2.07
watches6      2.07
perfumery2    1.92
cool2         1.92
furniture2    1.92
health2       1.92
furniture1    1.92
perfumery1    1.92
cool5         1.92
watches7      1.78
furniture3    1.78
consoles1     1.78
health4       1.63
bed3          1.63
computers3    1.48
computers2    1.48
bed4          1.48
consoles2     1.48
watches4      1.48
watches5      1.48
furniture4    1.48
watches8      1.48
health1       1.33
cool4         1.33
computers6    1.18
computers5    1.18
health3       1.18
cool3         1.04
health10      1.04
health6       1.04
bed5          0.74
Name: product_id, dtype: float64
-------------
product_category_name:
garden_tools             23.67
health_beauty            19.23
watches_gifts            15.24
computers_accessories    10.21
bed_bath_table            9.02
cool_stuff                8.43
furniture_decor           7.10
perfumery                 3.85
consoles_games            3.25
Name: product_category_name, dtype: float64
-------------
month_year:
01-03-2018    7.40
01-02-2018    7.25
01-01-2018    7.10
01-04-2018    7.10
01-11-2017    6.51
01-12-2017    6.51
01-10-2017    6.36
01-06-2018    6.21
01-05-2018    5.92
01-07-2018    5.92
01-08-2018    5.62
01-08-2017    5.47
01-09-2017    5.33
01-07-2017    4.88
01-06-2017    3.70
01-05-2017    2.96
01-04-2017    2.22
01-03-2017    1.92
01-02-2017    1.33
01-01-2017    0.30
Name: month_year, dtype: float64
-------------